.state {
    position: relative;
    width: 400px;
    height: 400px;
    display: grid;
    background: #bbada0;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    padding: 8px;
    border-radius: 5px;
}
  
.stateItem {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    background: #ccc0b4;
    margin: 8px;
    border-radius: 5px;
    user-select: none;
}
  